body { 
  padding: 20px; 
  font-family: Roboto, sans-serif;
  color: rgba(0,0,0,.87);
}

.btn {
  background-color: #408ab4;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  border-radius: 4px;
  padding: 4px 8px;
}
.btn:hover {
  cursor: pointer;
}
.btn:focus {
  background-color: #34699a;
}
.btn:active {
  background-color: #113f67;
}

.dropdown-btn-container {
  display: inline-block;
}
.btn.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.5em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}

ul.dropdown-menu {
  display: none;
}
ul.dropdown-menu.opened {
  display: flex;
  position: absolute;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 
    0 8px 10px 1px rgba(0,0,0,.14), 
    0 3px 14px 2px rgba(0,0,0,.12);
  background-color: rgb(255,255,255);
  border-radius: 4px;
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
  flex-direction: column;
  z-index: 10;
}
ul.dropdown-menu li {
  height: 48px;
}
ul.dropdown-menu a.dropdown-item {
  display: block;
  height: inherit;
  width: inherit;
  line-height: 48px;
  padding: 0 16px;
  flex: auto;
}
ul.dropdown-menu a.dropdown-item:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.04);
}
ul.dropdown-menu a.dropdown-item:focus {
  background-color: rgba(0,0,0,.08);
}
ul.dropdown-menu a.dropdown-item:active {
  background-color: rgba(0,0,0,.12);
}
